<div class="container my-5">
    <h3 class="mb-4 fw-bold mb-3"><strong class="text-decoration-underline">SarkariJobsFind.com</strong> Official
        Disclaimer</h3>

    <div class="disclaimer-box">
        <p style="word-spacing: 2px;">
            The information provided on <strong class="text-decoration-underline">SarkariJobsFind.com</strong> is for
            general informational purposes only. While we strive to
            keep
            the information accurate and up to date, we make no guarantees of any kind regarding the completeness,
            reliability,
            or accuracy of the information.
        </p>

        <p>
            <strong class="text-decoration-underline">SarkariJobsFind.com</strong> is not an official government website
            and is not affiliated with any government
            organization.
            All information related to government jobs, admit cards, results, and online forms is collected from
            official
            websites, employment news, and other reliable sources.
        </p>



        <p>
            Users are strongly advised to verify all details such as eligibility criteria, application dates, fees, and
            official
            notifications directly from the official website or concerned authority before making any decision or taking
            action.
        </p>

        <p>
            <strong class="text-decoration-underline">SarkariJobsFind.com</strong> will not be responsible for any loss
            or damage arising from the use of information provided
            on
            this website.

            We may include links to external websites for user convenience. We do not have control over the nature,
            content,
            and
            availability of those sites and do not endorse them.

            By using this website, you agree to this disclaimer and its terms.
        </p>

    </div>
</div>