<!-- NAVBAR -->
<nav class="nav-bar navbar navbar-expand-lg sticky-top">
    <div class="container px-4">
        <div class="navbar-brand d-flex align-items-center gap-2">
            <div
                style="width: 40px; height: 40px; border-radius: 0.75rem; background: linear-gradient(to bottom right, #fbbf24, #f97316); display: flex; align-items: center; justify-content: center; color: white; font-weight: bold; font-size: 18px; box-shadow: 0 4px 15px rgba(245,158,11,0.3);">
                S
            </div>
            <div>
                <div id="nav-title"
                    style="font-size: 22px; font-weight: 800;line-height: 1.2; font-family: 'Plus Jakarta Sans', sans-serif;color: var(--text-primary);">
                    SarkariJobsFind.Com
                </div>
                <div style="font-size: 12px; color: var(--text-secondary);">
                    Sarkari Jobs | Result | Admit Card | Syllabus
                </div>
            </div>
        </div><button class="dark-toggle ms-auto" id="darkToggle" style="background: var(--border-color);"> <span
                class="knob">🌙</span> </button>
    </div>
</nav>