{% extends 'base.html' %}
{% load static %}
{% block extra_head %}

<title>SarkariJobsFind.com - {{ category.name }}</title>

<link rel="stylesheet" href="{% static 'jobs/css/style.css' %}">

{% endblock %}


{% block content %}

<div class="container">
    <div class="row g-3">

        <!-- Result -->
        <div class="col-lg-8 offset-lg-2 mt-5">
            <div style="display: flex; gap: 8px; margin-bottom: 24px; font-size: 14px; color: var(--text-secondary);">
                <span class="breadcrumb-link" onclick="goToHome()">Home</span> <span>/</span> <span>{{ category.name }}</span>
            </div>
            <div class="sarkari-box">
                <div class="sarkari-header">
                    {% if state %}
                        <h2>{{ title }}</h2>
                    {% else %}
                        <h2>{{ category.name }}</h2>
                    {% endif %}
                </div>
                <ul class="sarkari-list">

                    {% if jobs %}
                    {% for job in jobs %}
                    <li>
                        <h3 class="job-title d-flex align-items-center gap-2">
                            <a href="/{{ job.slug }}">{{ job.title }}
                                {% if job.notification_msg %}
                                | {{ job.notification_msg }}
                                {% endif %}
                            </a>
                            {% if job.is_new %}
                            <span class="new-tag">NEW</span>
                            {% endif %}
                        </h3>
                    </li>
                    {% endfor %}
                    {% else %}
                    <p class="text-center fw-bold">No updates found.</p>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>

</div>


<!-- FAQs -->
{% include 'partials/faqs.html' %}
{% include 'partials/disclaimer.html' %}
{% endblock %}

{% block extra_scripts %}
<!-- <script src="{% static 'jobs/js/home.js' %}"></script> -->

<script>
    function goToHome() {
        window.location.href = '/';
    }
</script>
{% endblock %}